<div class="row">
  <div class="col-8 offset-2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum nisl quis quam dapibus vestibulum a ac est. Proin
      condimentum blandit nisi. Nam venenatis tincidunt urna eu mollis. Donec sed eros eget diam tristique malesuada. Sed
      sed commodo lacus, quis pulvinar lectus. Sed at dui dictum augue cursus auctor. Vivamus in dolor turpis. Pellentesque
      mollis ipsum ut velit euismod fringilla. Ut non tortor consequat, ultricies est id, vulputate tellus. Aenean condimentum
      lacus id dolor pretium, eget viverra enim vulputate. Nulla imperdiet sem vitae neque tristique, non facilisis nibh
      tincidunt.
    </p>
    <p>
      Cras tellus felis, mollis eu metus eu, pellentesque posuere mauris. Proin in sapien nec nulla consequat euismod at vel est.
      Integer ornare ullamcorper leo a fringilla. Praesent ornare pulvinar nisl id bibendum. Vivamus dui ante, lacinia vitae
      felis a, suscipit auctor leo. Fusce a venenatis elit. Nunc faucibus nibh ut odio malesuada, placerat fringilla neque
      sagittis. Nunc vel libero dui. Suspendisse potenti. Duis gravida ac massa non luctus. Aenean ipsum elit, sagittis nec
      varius sed, posuere eget urna. In hac habitasse platea dictumst. Etiam purus lorem, vestibulum et laoreet sit amet,
      mattis et libero. Nulla facilisi. Pellentesque et ex id risus maximus maximus. Fusce non metus vitae ante fringilla
      dignissim.
    </p>
    <p>
      Quisque eu vehicula nibh. Phasellus gravida cursus lectus sit amet pulvinar. Ut tristique vestibulum purus, et bibendum magna
      eleifend a. Nam mi magna, volutpat a elit quis, ultricies fermentum dui. Aenean nec felis eget ex molestie vulputate.
      Nullam imperdiet congue scelerisque. Nunc sit amet lectus non mi pellentesque tempor id vitae nisi. Etiam in felis
      velit. Sed semper tristique magna quis ornare. Fusce pretium lorem ac lacinia facilisis. Vestibulum rutrum dui et sapien
      vestibulum, nec cursus orci convallis.
    </p>
  </div>
</div>