<p>
  Keyboards are almost always black, white or grey. As someone who has partaken in the unicorn hair fad, it appears the thing
  on the center of my desk (where I spend a ton of time) could use some inspiration.
</p>
<image-row [data]="data1" heightPx="300"></image-row>
<p>
  I found a gorgeous set of keycaps by google searching. The Tai-Hao Sunshine PBT Doubleshot keys. Unfortunately, they’re unavailable
  on every site I went to. This was similarly true for almost all the colored keycap sets I found. Seems like a niche thing
  that people own if you’re commenting on keycap reddit threads or creating YouTube videos about high performance mechanical
  keyboards, and most likely, you’re also a gamer (apologies for generalizing). There are also “keycap artisans”, who make
  single fancy keys, but this wasn’t what I was looking for.
</p>
<p>
  I asked my husband for a mechanical keyboard and some jazzy keycaps for Christmas. Hoping he’d be able to get his hands on
  something cool and I’d pull off the stock caps on the board and place my special keycaps on my brand spanking new keyboard.
  Alas, he got me a standard keyboard with non-removable white caps. The case was rose gold colored, I am a fan of rose gold.
  There was a miscommunication somewhere. So, Christmas Day I spent some time getting him up to speed on pretty keycaps.
</p>
<image-row [data]="data2" heightPx="240"></image-row>
<p> He immediately got sucked in to the small world that is high quality keysets, searching to buy a set for himself as well,
  and thinking about upgrading his mechanical keyboard to something crazy fancy (he’s already a gamer, so he currently owned
  a super loud clickety mechanical keyboard). Then we realized people dyed their own keycaps. This means the possibilities
  for a beautiful keyboard are endless.
</p>
<p>
  We also realized, we don’t need a top-of- the-line mechanical keyboard. I’m in analytics for work, the quality of a $200
  keyboard is not something I need, not even close.
</p>
<image-row [data]="data3" heightPx="220"></image-row>
<p>
  This is my first post, so I’ll keep it brief. But basically, Paul (my husband) and I are going to be dying our first set
  of keycaps tomorrow! Took us longer than we would have liked to round up all the supplies. Namely white keycaps, of the
  more dyeable plastic (PBT); we learned on YouTube that ABS keys aren’t as good for dyeing. But I’m sure we’ll learn more
  about the nuances as we get further in to this. I’ll be sure to share with you as find new information and experience this
  ourselves.
</p>
<p>
  Also learned: spray painting the case of your keyboard is a thing. Bought a ton of spray paint thrilled at the idea of spraying
  our boards. But it’s 9 degrees outside, and we’re not spray painting inside. So the blog post and spray paint will have
  to wait for a warmer day.
</p>
<p>
  Will update with pictures of our dyed keycaps! If you have stumbled across this blog and have some experience and would like
  to share, please do. If you stumbled across this blog and you’re wondering how you ended up here, but read this all the
  way through anyways, join us on our journey, and say “hello”
</p>