<input [(colorPicker)]="keyColorSvc.selectedKeyColor" [style.background]="keyColorSvc.selectedKeyColor" />
<button class="btn" (click)="keyColorSvc.startGetKeyColor()">getcolor</button>
<br/>
<button class="btn" (click)="keyColorSvc.saveColors()">save</button>
<button class="btn" (click)="keyColorSvc.loadColors()">load</button>
<div class="board">
  <h3 style="color:white">Paul's Board</h3>
  <div class="kbrow" *ngFor="let row of layout.rows" [style.margin-top.px]="getRowOffset(row)">
    <div class="kbkey" *ngFor="let key of row.keys" [style.margin-left.px]="getKeyOffset(key)" [style.height.px]="key.heightPx(layout.unitpx)"
      [style.width.px]="key.widthPx(layout.unitpx)" [style.background-color]="keyColorSvc.getKeyColor(key)" [style.color]="keyColorSvc.getLabelColor(key)"
      (click)="keyColorSvc.selectKey(key)">
      {{key.label}}
    </div>
  </div>
</div>