.kbrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    margin: 0;
    padding:0;
}

.board {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 10px;
    width: 1130px;
    border-radius: 10px;
}

.kbkey {
    flex: 0 0 auto;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}