img {
    width:100%;
    display: block;
    flex: 0 0 auto;
}

.images {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 0px;
}

.captions {
    margin-top: 5px;
    font-size: 14px;
    color: gray;
    font-style: italic;
    margin-bottom: 20px;
}

.col {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding:0px;
    margin-left: 8px;
}

.col:first-child {
    margin-left: 0px;
}
.images .col {
    background-color: #341246;
    
    align-items: center;
}

.col:last-child {
    margin-right: 15px;
}

.col:first-child {
    margin-left: 15px;
}


