:host > .row {
    margin-top:25px;
}

:host /deep/ p {
    text-align: justify
}

.posts-list {
    text-align: right;
    position: relative
}

h4 {
    color: gray;
}

:host /deep/ p {
    font-size: 18px;
}