/* You can add global styles to this file, and also import other style files */

/*
body {
    background-color: gray !important;
}

@media (min-width: 576px) {
    body {
        background-color: blue !important;
    }
 }


@media (min-width: 768px) { 
    body { 
        background-color: red !important;
    }
 }


@media (min-width: 992px) { 
    body {
        background-color: green !important;
    }
}


@media (min-width: 1200px) { 
    body {
        background-color: pink !important;
    }
 }
 */