<div class="row intro">
  <div class="col-6 offset-3">
    <p>
      Welcome to clicketrie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum nisl quis quam dapibus
      vestibulum a ac est. Proin condimentum blandit nisi. Nam venenatis tincidunt urna eu mollis. Donec sed eros eget diam
      tristique malesuada. Sed sed commodo lacus, quis pulvinar lectus. Sed at dui dictum augue cursus auctor. Vivamus in
      dolor turpis. Pellentesque mollis ipsum ut velit euismod fringilla. Ut non tortor consequat, ultricies est id, vulputate
      tellus. Aenean condimentum lacus id dolor pretium, eget viverra enim vulputate. Nulla imperdiet sem vitae neque tristique,
      non facilisis nibh tincidunt.
    </p>
  </div>
</div>